@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --dark-blue: #0E2B4A;
    --yellow: #FFFA5A;
    --pink: #BD489E;
    --teal: #3BF5F2;
    --purple: #9FA2FF;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


html, body {
    font-family: 'Alata', sans-serif;
    background-color: var(--dark-blue);
    color: var(--dark-blue);
    padding: 0.5rem;
}

.flex-wrapper {
    display: flex;
}

.center {
  justify-content: center;
}

.required {
  color: var(--pink);
}

.flex-wrapper--column {
    display: flex;
    flex-direction: column;
}

.flex-wrapper--column label {
  margin-bottom: 0.5rem;
}
 .form__checkbox-field {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count : 2; /* Safari and Chrome */
    column-count: 2;
 }


.article-header {
    line-height: 0.5rem;
    background: var(--purple);
    box-shadow: 1px 1px 10px var(--teal);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.para-label {
    margin-top: 0;
}

.form {
    background: #9FA2FF;
    padding: 1rem 3rem 2rem 3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--teal);
}

.no-wrap {
    white-space: nowrap;
    margin-bottom: 1rem;
    width: 100%;
}

.field-wrap {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.field-wrap label {
  padding-right: 1rem;
}




.form__input--wide {
  width: 100%;
  height: 1.5em;
  border: 2px solid var(--dark-blue);
  background-color: var(--teal); 
  border-top-style: hidden;
  border-right-style: hidden;
}

.form__input--wide:focus {
  border: 0;
  box-shadow: -0.10em 0.10em 0.25em 0.025em var(--yellow);
  border-top-style: hidden;
  border-right-style: hidden;
  transform: scale(1.05);


}


fieldset {
  border: none;
  margin-top: 1em;
  padding-left: 0;
}



/* radio button styles */

.radio {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 1em;
}
.radio:focus-within .radio__label {
    color: var(--yellow);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.radio__label {
  line-height: 1;
  -webkit-transition: 180ms all ease-in-out;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: -webkit-box;
  display: flex;
}
.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio__input input:focus + .radio__control {
  box-shadow: 0 0 0 0.05em var(--yellow), 0 0 0.15em 0.1em var(--yellow);
}

.radio-gradient input:checked + .radio__control {
  background: radial-gradient(currentColor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio-before .radio__control {
  display: grid;
  place-items: center;
}
.radio-before input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  -webkit-transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out, 180ms -webkit-transform ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.radio-before input:checked + .radio__control::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  -webkit-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
}

  /* checkbox styles */

.checkbox {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 1em;
  padding: 4px;
}
.checkbox:focus-within .checkbox__label {
    color: var(--yellow);
  -webkit-transform: scale(1.10);
          transform: scale(1.10);
  opacity: 1;
}

.checkbox__label {
  line-height: 1;
  -webkit-transition: 180ms all ease-in-out;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.checkbox__input {
  display: -webkit-box;
  display: flex;
}
.checkbox__input input {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em var(--yellow), 0 0 0.15em 0.1em var(--yellow);
}

.checkbox-gradient input:checked + .checkbox__control {
  background: radial-gradient(currentColor 50%, rgba(255, 0, 0, 0) 51%);
}

.checkbox-before .checkbox__control {
  display: grid;
  place-items: center;
}
.checkbox-before input + .checkbox__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 2px;
  -webkit-transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out, 180ms -webkit-transform ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.checkbox-before input:checked + .checkbox__control::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 5px;
  border: 0.1em solid currentColor;
  -webkit-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
}

/* textarea style */

.form__textarea {
  border: 2px solid var(--dark-blue);
  background-color: var(--teal); 
  border-top-style: hidden;
  border-right-style: hidden;
}

.form__textarea:focus {
  border: none;
  box-shadow: -0.10em 0.10em 0.25em 0.025em var(--yellow);
  border-top-style: hidden;
  border-right-style: hidden;
}

.button-wrapper {
    display: flex;
    margin-top: 1em;
    justify-content: space-evenly;
}

.button {
    padding: .5em 1.5em .5em 1.5em;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.button--submit {
    background-color: var(--teal);
    box-shadow: 4px 4px var(--pink);
}

.button--submit:hover, .button--submit:focus {
  background-color: var(--teal);
  box-shadow: 0.10em 0.10em 0.35em 0.025em var(--yellow);
}

.button--submit:active {
    box-shadow: 2px 2px var(--pink);
    transform: translateY(2px), translateX(2px);
  }


.button--reset {
    background-color: var(--pink);
    box-shadow: 4px 4px var(--teal);
}

.button--reset:hover, .button--reset:focus {
  background-color: var(--pink);
  box-shadow: 0.10em 0.10em 0.35em 0.025em var(--yellow);
}

.button--reset:active {
    box-shadow: 2px 2px var(--yellow);
    transform: translateY(2px), translateX(2px);
}
